.selection {
  display: flex;
  transition: 2s;

  height: 20px;
  margin: 10px;
}
.placeholder {
  font-family: "Nunito Sans", sans-serif;
}

.icon {
  margin-right: 5px;
}

.title {
  font-family: "Quicksand", sans-serif;
  font-size: 4rem;
  text-align: left;
  margin-left: 3rem;
}

.container {
  width: 80%;
  margin-left: 3rem;
}

.list-container {
  margin: 20px 20px 0 0;
}
