@mixin even() {
  &:nth-child(even) {
    @content;
  }
}

.selection {
  display: flex;
  justify-items: flex-start;
  justify-content: flex-start;
  margin: 1.2rem 1rem 0 0;
  height: 20px;
  .icon {
    font-size: 1.4rem;
  }
}
.placeholder {
  font-family: "Nunito Sans", sans-serif;
}

.icon {
  margin-right: 7px;
}

.container {
  width: 100%;
  .title-container {
    height: 20vh;
    background: black;
    display: flex;
    .title {
      font-family: "Quicksand", sans-serif;
      font-size: 3rem;
      text-align: left;
      margin-left: 2rem;
      color: white;
    }
  }

  .list-container {
    width: 70vh;
  }
}
ul {
  div {
    &:nth-child(odd) {
      .entry {
        background: #cf2;
      }
    }
  }

  &:nth-child(even) {
    &:nth-child(n) {
      border-radius: 3px;
    }
  }
}

.entry:only-child {
  &:nth-child(odd) {
    color: #444;
    font-weight: normal;
  }
}

.entry {
  display: flex;
  justify-items: flex-start;
  justify-content: flex-start;

  font-weight: bold;
  cursor: pointer;
  &:empty {
    cursor: text;
  }
}

.child {
  display: flex;
  justify-items: flex-start;
  justify-content: flex-start;
  margin: 1.2rem 1rem 0 0;
  height: 20px;

  .icon {
    font-size: 1.4rem;
  }
}
.li-container:nth-of-type(2n) {
  .child {
    background: #ddd;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
  }
}
